<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.raniu.mapper.ProjectMapper">
    <select id="findWithType" resultType="org.raniu.project.domain.vo.ProjectVo">
        select * from project,project_type where project_type.id = project.type ${ew.customSqlSegment};
    </select>
</mapper>
